/* Use your own static font file(s). 
   You should have a font face for regular, bold and italics. */
@font-face{
  font-family: "Fira Sans";
  src: url("/saved/rap/assets/FiraSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font_face{
    font-family: "Fira Mono";
    src: url("/saved/rap/assets/FiraMono-Regular.ttf") format("truetype");
    font-style: monospace;
    font-weight: 400;
}

/* Fall back on system fonts. */
body {
    font-family: 'Fira Sans', sans-serif;
    font-size:   12pt;
    background-color: #FFF5EE
}
tt {
    font-family: 'Fira Mono', monospace;
    font-size:   10pt;
}

/* body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 12pt;
    background-color: #FAFAFA;
}
*/
